langchain==0.1.17
langchain-core==0.1.52
langchain-community==0.0.36
langchain-openai==0.0.8
langchain-pinecone==0.0.3

flask==3.0.0
python-dotenv==1.0.1
sentence-transformers==2.7.0
pypdf==4.2.0
pinecone-client==3.2.2
-e .